
h1{
    font-size: 4rem;
    margin-bottom: 20px;
}
.main-container{
    margin: 0 auto;
   max-width: 120rem;
       margin-right: 3rem;
       margin-left: 3rem;

   min-height: 60rem;
   /* background-color: silver; */
    text-align: right;
}
.bottom-container-flex{
    padding: 1em;
}
.flex-cards{
    display: flex;
    width: 100%;
    gap: 50px 0px;
    
    flex-wrap: wrap;
    flex-direction: row;
}


/* @media  (max-width:1700px){
   .flex-cards{
    gap: 50px 50px;
   }
    
} */